<%
action = phone.action
url ||= url

badge_class = {
  return_visit: 'badge-success',
  call: 'badge-light',
  verify: 'badge-warning',
  # not_home: 'badge-warning',
  forget: 'badge-danger',
  error: 'badge-dark'
}.fetch(action.to_sym)

%>

<% if url %>
  <a href="<%= url %>">
<% end %>
  <span class="badge <%= badge_class  %>"><%= action.localized %>
  <% if phone.call_attempts_count&.positive? %>
    <span class="badge badge-light"><%= phone.call_attempts_count %></span>
  <% end %>
  </span>
<% if url %>
    </a>
<% end %>
