<h1><%= t('app.titles.call_history') %></h1>

<div class="alert alert-warning" role="alert">
  <%= t('app.messages.history_limit_last_x_calls', number: @phones.count) %>
</div>

<%= render Phones::ListComponent.new(territory: @territory, phones: @phones, vcards: false) %>
