language: ruby
sudo: false
cache: bundler

rvm:
  - 2.6.5

env:
  - DB=mysql DATABASE_URL="mysql2://root@127.0.0.1:3306/territory_manager_test"

before_script:
  - mysql -e 'CREATE DATABASE territory_manager_test;'
  - bundle exec rake db:migrate

script:
  - RAILS_ENV=test bundle exec rspec
  - bundle exec rubocop -a

services:
  - mysql
