<% if current_user && !current_user.enabled? %>
  <div class="alert alert-warning" role="alert">
    <%= t('app.messages.contact_admin') %>
  </div>
<% end %>

<% if current_user && current_user.enabled? %>
  <ul>
    <li> <%= link_to(t('app.links.my_territories'), territories_path)  %> </li>
  </ul>
<% end %>
