<h1>Territories</h1>

<%= link_to('New', new_territory_path, class: 'btn btn-info') %>


<table class="table table-striped">
  <% @territories.each do |territory| %>
    <tr>
      <td> <%= territory.name %> </td>
    </tr>
  <% end %>
</table>
