<h1>New territory</h1>

<% if @territory.errors.any? %>
  <ul>
    <% @territory.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with model: @territory, local: true do |f| %>
  <%= f.text_field :name %>
  <%= f.submit "Create" %>
<% end %>
