/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";

.avatar-25 {
  max-width: 25px;
  max-height: 25px;
}

.avatar-50 {
  max-width: 50px;
  max-height: 50px;
}

.invalid-feedback {
  color: #dc3545;
  clear: both;
}

.call-attempt-details {
  padding-top: 20px;
}

.text-muted {
  display: block;
  clear: both;
}

.input[type="checkbox"] {
  margin-right: 20px !important;
}

.form-check-label {
  margin-left: 5px;
}

.inline-check-boxes .form-check {
  display: block;
  float: left;
  margin-right: 20px;
}

.soft-labels label {
  font-weight: normal;
  font-size: 14px;
}

.special-legends legend {
  font-size: 14px;
  border: 0;
  margin-bottom: 10px;
}

.google-login {
  font-weight: bold;
  height: 100px;
  line-height: 100px;
  vertical-align: middle;
}

.vertical-timeline {
  margin-left: 5px;
  border-left: 1px solid #ddd;
  padding: 0 0 0 10px;
}

.timeline-header {
  line-height: 30px;
  text-align: middle;
}

.timeline-bullet {
  background: blue;
  margin-top: 10px;
  margin-right: 10px;
  margin-left: -16px;
  width: 10px;
  height: 10px;
  display: block;
  float: left;

  &.not-home {
    background: gold;
  }

  &.contacted {
    background: green;
  }

  &.unreachable {
    background: gray;
  }

  &.disconnected {
    background: red;
  }
}

.time { color: #aaa; }

.timeline-text {
  padding-left: 10px;
  margin-bottom: 10px;
}
